.nav-bar{
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}
.logo{
  height: 100%;
  margin-right: 6px;
}
.nav-bar--title{
  font-size: 1.25rem;
  margin-right: auto;
}
.nav-bar--course{
  font-size: 0.75rem;
  font-weight: 500;
}